:root {
    --primary: #66CC55;
    --secondary: #555;
    --tertiary: #EEEEEE;
    --quarternary: #FFFFFF;
    --quinary: #D5D5D5; /* quinary */
    --senary: #F9F9F9; /* senary */
    --septenary:#A6A6A6;
    --danger: #cc5555;
    --bs-gutter-x: 1.6rem; 
    --bs-gutter-y: 0;
    --default-font: 'Oswald', sans-serif;
}