/* vars */
@import url('./_vars.css');

/* reset  */
@import url('./_reset.css');

/* grid */
@import url('./_grid.css');

/* fonts  */

@import url('./_fonts.css');

/* components  */
@import url('./components/_image_grid.css');
@import url('./components/_tittle_section.css');
@import url('./components/_section.css');
@import url('./components/_header.css');
@import url('./components/_footer.css');
@import url('./components/_hero.css');
@import url('./components/_tabs.css');
@import url('./components/_form.css');
@import url('./components/_input.css');

/* pages */
@import url('./pages/_home.css');
@import url('./pages/_login.css');
@import url('./pages/_signup.css');

.logo {
    font-family: 'Pacifico', cursive;
    color: var(--primary);
    text-decoration: none;
}

.slider.swiper {
    height: 358px;
}

.slider {
    background-color: var(--tertiary);
    border: 16px solid var(--tertiary);
    margin-top: 80px;
    margin-bottom: 64px;
}

.slider img {
    height: 100%;
    object-fit: cover;
}

.slider.swiper .swiper-wrapper .swiper-slide {
    flex-shrink: 100 !important;
    min-width: fit-content;
}

@media screen and (max-width:769px) {

    .slider {
        background-color: unset;
        border: 0px;
        margin-left: -1.6rem;
        margin-right: -1.6rem;
    }

    .slider img {
        object-fit: contain;
        min-width: 100vw;
    }

    .slider.swiper {
        height: 279px;
    }
}

.swiper-button-next,
.swiper-button-prev {
    height: 100%;
    top: 22px;
    background-color: rgba(0, 0, 0, 0.29);
    width: 50px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(102, 204, 85, 0.80)
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px;
    color: var(--tertiary);
}

.swiper-button-prev {
    left: 0px;
}

.swiper-button-next {
    right: 0px;
}

#auth {
    height: 543px;
}

.hidden{
  visibility: hidden;
  display: none;
}
