
.explore-grid-images img{
    /* clip-path: polygon(39% 0, 100% 0%, 60% 100%, 0% 100%); */
}
.explore-grid-images{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 360px;
    position: relative;
    background-color: #CC7955;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.explore-grid-images > div{
    height: 100%;
    width: 100%;
    position: relative;
    flex: 1;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    margin: -2.4vw;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    transition: all .5s;
    animation: sufleCard .3s forwards linear;
}


.explore-grid-images > div:hover{
    background-blend-mode: soft-light;
    background-size: 150%;
    transform: scale(1.05);
}

.explore-grid-images > div.explore-sports{
    background-image:linear-gradient(to right,#CC7955,#CC7955), url(../../../../images/explore_sports.png);
    margin-left: -10vw;
    transform: translate(49.5vw, 0px);
    animation-delay: .3s;
}

.explore-grid-images > div.explore-animals{
    background-image:linear-gradient(to right,#CC7955,#CC7955), url(../../../../images/explore_animals.png);
    transform: translate(33.5vw, 0px);
    animation-delay: .2s;
}

.explore-grid-images > div.explore-tech{
    background-image:linear-gradient(to right,#CC7955,#CC7955), url(../../../../images/explore_tech.png);
    transform: translate(16.5vw, 0px);
    animation-delay: .1s;
}

.explore-grid-images > div.explore-nature{
    background-image:linear-gradient(to right,#CC7955,#CC7955), url(../../../../images/explore_nature.png);
    z-index: 10;
}

.explore-grid-images > div.explore-architecture{
    background-image:linear-gradient(to right,#CC7955,#CC7955), url(../../../../images/explore_architecture.png);
    transform: translate(-16.5vw, 0px);
    animation-delay: .1s;
}

.explore-grid-images > div.explore-people{
    background-image:linear-gradient(to right,#CC7955,#CC7955), url(../../../../images/explore_people.png);
    transform: translate(-33.5vw, 0px);
    animation-delay: .2s;
}

.explore-grid-images > div.explore-cars{
    background-image:linear-gradient(to right,#CC7955,#CC7955), url(../../../../images/explore_cars.png);
    margin-right: -10vw;
    transform: translate(-49.5vw, 0px);
    animation-delay: .3s;
}
