:root{
    --card-plan-top:2rem;
    --card-plan-header-height:36px;
}

.card_plan{
    background-color: var(--primary);
    width: 100%;
    height: fit-content;
    color: var(--quarternary);
    padding-top: var(--card-plan-top);
    position: relative;
    overflow: hidden;
    min-height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_plans_grid{
    margin-top: 8rem;
}

.card_plan_header{
    background-color: var(--quarternary);
    color: var(--primary);
    text-align: center;
    font-size: 2.4rem;
    height: var(--card-plan-header-height);
    text-transform: uppercase;
}
.card_plan_amount{
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card_plan_amount_price{
    font-size: 4.6rem;
}
.card_plan_amount_symbol{
    font-size: 2rem;
    vertical-align: top;
}

.card_plan_amount_month,
.card_plan_amount_currency_code {
    font-size: 1.6rem;
}
.card_plan_amount_price,
.card_plan_amount_month,
.card_plan_amount_currency_code{
    font-weight: 500;
}

.card_plan_details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.60);
    padding: 1.6rem;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: all .3s ease-in;
    /* padding-top: calc( var(--card-plan-header-height) + var(--card-plan-top)  + 3.2rem) ; */
   
    
}

.card_plan:hover .card_plan_details{
    transition: all .3s ease-in;
    transform: translateY(0%);
    /* backdrop-filter: blur(0px); */
    animation: animateBlur .4s ease-in forwards;
}

@keyframes animateBlur {
    to{
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.80);
    }
}
.card_plan_details ul {
    flex:1;
}

.card_plan_details ul li{
    margin-bottom: .8rem;
    letter-spacing: 1px;
    text-align: left;
}
.card_plan_details .btn{
    min-width: 100%;
}