.footer {
  background-color: var(--primary);
  text-align: center;
  padding-top: 40px;
}

.footer .logo {
  color: var(--quarternary);
  font-size: 2rem;
}

.footer__map {
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.28);
  padding: 16px 0px;
}

.footer__map .auth {
  text-align: right;
}

.footer__map .auth .btn:last-child {
  margin-left: 16px;
}

.footer__copy {
  text-align: left;
  color: var(--quarternary);
  display: flex;
  align-items: center;
}