#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu .menu-list {
    margin-right: 32px;
}

#menu .menu-list li {
    display: inline-block;
    margin-right: 32px;
    font-size: 20px;
    font-weight: 300;
    padding: 8px;
}

#menu .menu-list li a {
    color: var(--secondary);
}

#menu .menu-list li:hover a {
    color: var(--primary);
    /* font-weight: 700; */
}

#menu .btn+.btn {
    margin-left: 16px;
}

.menu-toggle{
    width: 50px;
    height: 50px;
    background-color: unset;
    appearance: none;
    border: none;
}

.menu-toggle svg,
.menu-toggle span,
.menu-toggle i{
    pointer-events: none;
    touch-action: none;
}


@media screen and (max-width:1200px) {
    #menu {
        position: fixed;
        width: 65vw;
        height: 100vh;
        top: 0px;
        /* right: 0vw; */
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        transition: .3s;
        z-index: 99999;
        right: -100vw;
        box-shadow: 0px 0px 16px #00000063;
    }
    #menu .menu-list{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    #menu .menu-list li{
        padding-left: 0rem;
        margin-right: 0px;
    }
    #menu .menu-list li a{
        color: var(--quarternary);
        width: 100%;
        padding-left: 3.2rem;
        display: inline-block;
    }
    #menu .menu-list li.active,
    #menu .menu-list li:hover{
        background-color: var(--quarternary);
        margin-right: 0px;
    }
    #menu .menu-list li.active a,
    #menu .menu-list li:hover a{
        color: var(--primary);
    }
    .menu-list + .btn + .btn{
        margin-top: 6.4rem;
    }

}